$primary: #3F51B5;
$primary-darken: #303f9f;
$primary-lighten: #7986cb;

$secondary: #009688;
$secondary-darken: #004d40;

$form-bg: #448AFF;
$form-bg-darken: #1565C0;
$form-color: white;

$accent: #ff6f00;
$btn-color: white;

$main-bg-color: #EEEEEE;
$main-color: black;

$nav-color: white;
$nav-bg-color: $primary;
$nav-active-bg-color: white;

$tab-nav-color: white;